{% load static %}
    <!-- START SCRIPTS -->
    <!-- START PLUGINS -->
    <script type="text/javascript" src='{% static "js/plugins/jquery/jquery.min.js" %}'></script>
    <script type="text/javascript" src='{% static "js/plugins/jquery/jquery-ui.min.js" %}'></script>
    <script type="text/javascript" src='{% static "js/plugins/bootstrap/bootstrap.min.js" %}'></script>
    <script type="text/javascript" src='{% static "js/plugins/smartwizard/jquery.smartWizard-2.0.min.js" %}'></script>
    <script type="text/javascript" src='{% static "js/plugins/jquery-validation/jquery.validate.js" %}'></script>
    <script type="text/javascript" src='{% static "js/plugins/bootstrap/bootstrap-datepicker.js" %}'></script>
    <script type="text/javascript" src='{% static "js/plugins/bootstrap/bootstrap-select.js" %}'></script>
    <!-- END PLUGINS -->
    <!-- START TEMPLATE -->
    <script src='{% static "js/plugins/datatables/jquery.dataTables.min.js" %}' type="text/javascript"></script>
    <script type="text/javascript" src='{% static "js/plugins.js" %}'></script>
    <script type="text/javascript" src='{% static "js/actions.js" %}'></script>
    
 
    <!-- END SCRIPTS -->