{% load static %}
<!-- META SECTION -->
        {% block titulo %}
            <title>ProPlastic &trade;</title>
        {% endblock titulo %}
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <link rel="icon" href="{% static "img/icons/txt.png" %}" type="image/x-icon" />
        <!-- END META SECTION -->

        <!-- CSS INCLUDE -->
        <link rel="stylesheet" type="text/css" id="theme" href='{% static "css/theme-dark.css"%}'/>
        <!-- EOF CSS INCLUDE -->
        <link rel="stylesheet" type="text/css" id="theme" href='{% static "css/ever.css"%}'/>