{% extends "base/base.html" %}
{% block contenido %}
    <div class="content-frame">
        <!-- START CONTENT FRAME TOP -->
        <div class="content-frame-top">
            <div class="page-title">

                <h2><span class="fa fa-inbox"></span> Estados Financieros del año {{ anio_select }}
                    <small></small>
                </h2>
            </div>


        </div>
        <!-- END CONTENT FRAME TOP -->

 
        <!-- START CONTENT FRAME BODY -->
        <div class="col-md-12" style="height: 760px;">

            <div class="panel panel-default">
                <div class="panel-heading ui-draggable-handle">

                </div>
                <div class="panel-body mail">

                </div>
                <div class="block">

                    <div class="wizard">

                        <ul class="steps_4 anchor">
                            <li>
                                <a href="#step-1" class="selected" isdone="1" rel="1">
                                    <span class="stepNumber">1</span>
                                    <span class="stepDesc">Estado Comprobacion<br/><small></small></span>
                                </a>
                            </li>
                            <li>
                                <a href="#step-2" class="selected" isdone="1" rel="2">
                                    <span class="stepNumber">2</span>
                                    <span class="stepDesc">Estado de Resultado<br/><small></small></span>
                                </a>
                            </li>
                            <li>
                                <a href="#step-3" class="disabled" isdone="0" rel="3">
                                    <span class="stepNumber">3</span>
                                    <span class="stepDesc">Estado de capital<br/><small></small></span>
                                </a>
                            </li>
                            <li>
                                <a href="#step-4" class="disabled" isdone="0" rel="4">
                                    <span class="stepNumber">4</span>
                                    <span class="stepDesc">Balance General<br/><small></small></span>
                                </a>
                            </li>

                        </ul>


                        <div class="stepContainer" style="height: 55px;">
                            <div id="step-1" class="content" style="display: block;">
                                <div class="panel panel-default ">
                                    <div class="panel-heading ui-draggable-handle">
                                        <h3 class="panel-title">Estado Comprobacion</h3>
                                    </div>
                                    <div class="panel-body">
                                        <table class="table table-bordered ">
                                            <tr>
                                                <th>Cod Cuenta</th>
                                                <th>Nombre Cuenta</th>
                                                <th>Debe</th>
                                                <th>Haber</th>
                                            </tr>
                                            <tr>
                                                <td colspan="4"><b>Activo</b></td>
                                            </tr>
                                            {% for list in librodia%}
                                            <tr>
                                                <td>{{list.0}}</td>
                                                <td>{{list.1}}</td>
                                                <td>{{list.2}}</td>
                                                <td>{{list.3}}</td>
                                            </tr>
                                            {% endfor %}
                                            <tr>
                                                <td colspan="4"><b>Pasivo</b></td>
                                            </tr>
                                            {% for list in librodib%}
                                            <tr>
                                                <td>{{list.0}}</td>
                                                <td>{{list.1}}</td>
                                                <td>{{list.2}}</td>
                                                <td>{{list.3}}</td>
                                            </tr>
                                            {% endfor %}
                                            <tr>
                                                <td colspan="4"><b>Capital</b></td>
                                            </tr>
                                            {% for list in librodic%}
                                            <tr>
                                                <td>{{list.0}}</td>
                                                <td>{{list.1}}</td>
                                                <td>{{list.2}}</td>
                                                <td>{{list.3}}</td>
                                            </tr>
                                            {% endfor %}
                                            <tr>
                                                <td colspan="2"><b>TOTAL</b></td>
                                                
                                                <td>{{totaca}}</td>
                                                <td>{{totaab}}</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div id="step-2" class="content" style="display: block;">
                                <div class="panel panel-default ">
                                    <div class="panel-heading ui-draggable-handle">
                                        <h3 class="panel-title">Estado Resultado</h3>
                                    </div>
                                    <div class="panel-body">
                                        <table class="table table-bordered ">
                                            <thead>
                                            <tr>

                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td class="col-lg-4">
                                                    Ingresos por ventas
                                                </td>
                                                <td></td>
                                                <td>{{ingreo}}</td>
                                            </tr>
                                            <tr>
                                                <td class="col-lg-4">
                                                    (-) Costos por ventas
                                                </td>
                                                <td></td>
                                                <td>{{costov}}</td>
                                            </tr>
                                            <tr>
                                                <td class="col-lg-4">
                                                    <b>Utilidad Bruta</b>
                                                </td>
                                                <td></td>
                                                <td>{{bruta}}</td>
                                            </tr>
                                            <tr>
                                                <td class="col-lg-4">
                                                    (-) Gastos
                                                </td>
                                                <td></td>
                                                <td>{{gastoop}}</td>
                                            </tr>
                                            <tr>
                                                <td class="col-lg-4">
                                                    <b>Utilidad Neta</b>
                                                </td>
                                                <td></td>
                                                <td>{{neta}}</td>
                                            </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div id="step-3" class="content" style="display: none;">
                                <div class="panel panel-default ">
                                    <div class="panel-heading ui-draggable-handle">
                                        <h3 class="panel-title">Estado Capital</h3>
                                    </div>
                                    <div class="panel-body">
                                        <table class="table table-bordered ">
                                            <tr>
                                                <th><b>Inversiones</b></th>
                                                <th></th>
                                            </tr>
                                            <tr>
                                                <td>Aportaciones</td>
                                                <td>{{aportac}}</td>
                                            </tr>
                                            <tr>
                                                <td>(+) Utilidades del periodo</td>
                                                <td>{{reuti}}</td>
                                            </tr>
                                            <tr>
                                                <td><b>Capital Social</b></td>
                                                <td>{{capso}}</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div id="step-4" class="content" style="display: none;">
                                <div class="panel panel-default">
                                    <div class="panel-heading ui-draggable-handle">
                                        <h3 class="panel-title">Balance General</h3>
                                    </div>
                                    <div class="panel-body">
                                        <table class="table table-bordered">

                                            <tr>
                                                <th>Activos</th>
                                                <th></th>
                                                <th></th>

                                            </tr>
                                            {% for list in librodia%}
                                            <tr>
                                                <td class="col-lg-3">{{list.1}}</td>
                                                <td class="col-lg-1">{{list.2}}</td>
                                                <td class="col-lg-1">{{list.3}}</td>
                                            </tr>
                                            {% endfor %}
                                            <tr>
                                                <th>TOTAL ACTIVO</th>
                                                <th></th>
                                                <th>{{totalactivo}}</th>
                                            </tr>
                                            <tr>

                                                <th>Pasivos</th>
                                                <th></th>
                                                <th></th>
                                            </tr>
                                            {% for list in librodib%}
                                            <tr>
                                                <td class="col-lg-3">{{list.1}}</td>
                                                <td class="col-lg-1">{{list.2}}</td>
                                                <td class="col-lg-1">{{list.3}}</td>
                                            </tr>
                                            {% endfor %}
                                            <tr>
                                                <th>TOTAL PASIVO</th>
                                                <th></th>
                                                <th>{{totalpasivo}}</th>
                                            </tr>
                                            <tr>
                                                <td><b>Patrimonio<b></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td class="col-lg-3">Capital Social</td>
                                                <td class="col-lg-1">{{capso}}</td>
                                                <td class="col-lg-1"></td>
                                            </tr>
                                            <tr>
                                                <td class="col-lg-3">Utilidades Retenidas</td>
                                                <td class="col-lg-1">{{reten}}</td>
                                                <td class="col-lg-1"></td>
                                            </tr>
                                            <tr>
                                                <th>TOTAL PATRIMONIO</th>
                                                <th></th>
                                                <th>{{patri}}</th>
                                            </tr>
                                            <tr>
                                                <th>TOTAL PASIVO + PATRIMONIO</th>
                                                <th></th>
                                                <th>{{toral}}</th>
                                            </tr>
                                        </table>


                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>


                <!-- END WIZARD WITH VALIDATION -->

            </div>

        </div>


    </div>
    <div class="panel-footer">


        <button class="btn btn-default"><span class="fa fa-warning"></span></button>
        <button class="btn btn-default"><span class="fa fa-trash-o"></span></button>

    </div>
    </div>

    </div>
    <!-- END CONTENT FRAME BODY -->
{% endblock %}